@import "./mixin" ;
@import "./triangles" ;

* {
    box-sizing: border-box;
  }

body{
    margin: 0;
    padding: 0;
}

.wrapper{
display: flex;
width:100%;
min-height: 100vh;
background-color:white;
max-width: 1920px; 
margin: 0 auto;
}

.navigation{
width: 70px;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
position: relative;
background-color:red;
    ul {
        padding: 0;
        display: flex;
        flex-direction: column;
    }
   li{ 
        width: 100%;
        height: 4vw;
        margin-top:0.3vw;
        list-style-type: none;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        cursor: pointer;
    a{
        font-size: calc( 6px + 0.3vw);
        color: #FFFFFF;
        font-family: 'Lato', sans-serif;
        padding-top: 2vw;
    }
}
    @media screen and (max-width: 767px) {
           display: none;
    } 
}

    .home{
        background: url(../../img/header/home@1X.png) center  center no-repeat;
    } 
    .statistics{
        background: url(../../img/header/statistics.png) center  center no-repeat;
    } 
    .users{
        background: url(../../img/header/users.png) center  center no-repeat;
    }
    .settings{
        background: url(../../img/header/settings.png) center  center no-repeat;
    }
    .quires{
        background: url(../../img/header/queri.png) center  center no-repeat;
    }

.logo{
    width: 100%;
    height: calc(60px + 1.2vw);
    box-shadow: 3px  0 3px 0 rgb(204, 204, 204);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        font-family: 'Deftone Stylus', arial;
        font-size: 30px;
        font-weight: bolder;
        color: red;
        text-decoration: none;
    }
}

.navigation__menu--power{
   margin-top: auto;
}

.wrapper-inner{
    width: 100%;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    display:flex;
    flex-direction: column;
}

.header--top{
    display: flex;
    width: 100%;
}

.header--nav{
    display: flex;
    width: 20%;
    align-items: center;
  .ellips{
    @include item;
    background: url(../../img/header/section_1.png) no-repeat center center;
}
  .folder{
    @include item;
    background: url(../../img/header/section_2.png) no-repeat  center center;
  }
  .upload{
    @include item;
    background: url(../../img/header/section_3.png) no-repeat  center center;
  }
}
.header--search{
    width: 40%;
    display: flex;
    justify-content: center;
    height: calc(60px + 1.2vw);
    form{
        padding-top: 1em;
        position: relative;
        width: 50%;
    input{
        width: 100%;
        font-size: calc(8px + 0.2vw);
        padding: 0.6vw;
        border: 1px solid #EBEBEB;
        border-radius: 20px;
        background-color: #EBEBEB;
        color: black;
    }
    img{
        position: absolute;
        left: calc(60px + 12vw);
        bottom: calc( 15px + 1.5vw);
    }
}
}
.header--nav--second{
    display: flex;
    width: 20%;
    align-self: start;
  .send{
    @include item;
    background: url(../../img/header/section_5.png) no-repeat center center;
}
  .envelop{
    @include item;
    background: url(../../img/header/section_6.png) no-repeat  center center;
  }
  .earth{
    @include item;
    background: url(../../img/header/planet.png) no-repeat  center center;
  }
}
.lady{
    display: flex;
    @media screen and (max-width: 560px) {
    width: 100%; 
    justify-content: space-around;  
    }
    img{
        padding: 0;
    }
    p{
        font-size: calc(9px + 0.3vw);
        font-family:'lato';
        color:red;
        padding-left: 1.2vw;
        font-weight: 700;
    }
    span{
        font-size: calc(6px + 0.3vw);
        font-family:'lato';
        padding-left: 1.2vw;
        color:#BFBFBF;
        font-weight: 400;
        }
    }
.Dots{
    background: url(../../img/header/three-dots.png) no-repeat center center;
    border: none;
    &:hover{
        background-color:greenyellow;
    }     
   }

.header--bottom{
    display: flex;
    width: 100%;
}

.statistics{
    width:100%;
    display: flex;
    justify-content: space-around;
  
    h4{
        margin: 0;
        padding-top: 1.5vw;
        font-family: 'Lato';
        font-size: calc( 8px + 0.3vw);
        font-weight: 600;
    }
     p{
        margin-top: 9px;
        margin-bottom: 8px;
        font-family: 'Lato';
        font-size: calc(12px + 0.5vw);
        font-weight: 600;
        color: red;
}
    .statistics--number{
        display: flex;
        flex-direction: column; 
}
}

.figure{
    font-family: 'Lato';
    font-size: calc( 8px + 0.3vw);
    padding-left: 5px;
    font-weight: 600;
    color:#BFBFBF;
    position: relative; 
}
.statistics :last-child p{
    padding-top: 1.5vw;
    font-size: calc( 8px + 0.3vw);
}
@media screen and (max-width:767px){
    .statistics{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1.3vw 2.6vw;
    }
}

main{
    width:100%;
    display: flex;
    @media screen and (max-width:767px){
        flex-wrap: wrap;
        display: flex;
        border:none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.main{
    width: 78%;
    border: 19px  solid gainsboro;
    @media screen and (max-width:767px){
        flex-wrap: wrap;
        display: flex;
        border:none;
        flex-direction: column;
        order:-1;
        margin: 0 auto;
    }  
}

.main-top{
    width: 100%;
    border-bottom: 19px  solid gainsboro;
    display: flex;
    @media screen and (max-width:767px){
        flex-wrap: wrap;
        display: flex;
        border:none;
        order:1;
        width:100%;
    }
}

.main-top-left{
    width: 70%;
    border-right:19px solid gainsboro;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width:767px){
        flex-wrap: wrap;
        display: flex;
        border:none;
        flex-direction: column;
        order:2;
        width:100%;
    }

    .graph{
        width:48vw;
        padding:0px 30px 0px 30px;
        height:10.5vw;
        
    }
    .dot{
        padding-left:1vw;
    }
    .graph__head{
        display: flex;
        width: 100%;
        justify-content: space-around; 
        h4{
            color:#767676;
            padding-top: 1vw;
            font-family: 'Lato';
            font-size: calc( 8px + 0.4vw);
            font-weight: 600;
        }  
        button{
            margin:2vw 1.2vw 0 0;
            border: none;
            border-radius: 10px;
            font-size: calc(7px + 0.3vw);
            &:hover{
            background-color: rgb(253, 94, 106);
            color: rgb(255 ,255 ,255);
            }
        }
}
}

.block{
    @include box;
    width: 30%;
    @media screen and (max-width:767px){
        flex-wrap: wrap;
        display: flex;
        border:none;
        flex-direction: column;
        order:3;
        width:80%;
    }
    h4{
        color:#767676;
        font-family: 'Lato';
        font-size: calc( 8px + 0.5vw);
        font-weight: 600;
    }
    span{
       font-family: 'Lato';
       font-size: calc( 8px + 0.3vw);
       font-weight: 600;
       color:#BFBFBF;
    }
}

.main-bottom{
    width:100%;
    display: flex;
    @media screen and (max-width:767px){
        flex-wrap: wrap;
        display: flex;
        border:none;
        flex-direction: column;
        order:4;
        widows: 100%;
      
    }
}

.main-bottom-left{
    width:50%;
    border-right: 19px  solid gainsboro;
    display: flex;
    flex-direction: column;
   @media screen and (max-width:767px){
    flex-wrap: wrap;
    display: flex;
    border:none;
    order:5;
    width:100%;
}
   h4{
       padding:30px 0px 39px 31px;
   }
}

.Turner{
    width:100%;
    flex-direction: column;
    .Turner-first{
        display: flex;
        img{
            padding-left:2.1vw;
            padding-right:1.4vw;
        }
        a:after{
            content: '10 Min Ago';
            font-size: 0.6vw;
            color:#979796;
            padding-left:2.1vw;
        }
        P{
            padding: 1.3vw;  
            background-color: #FCFCFC;  
            border: 1px solid rgb(241, 234, 234); 
            font-size: 0.9vw;
            
            color: #777777;    
        }
    }
}

.Turner--message{
    p{  margin-left:8.5vw;  
        background-color: #FCFCFC;  
        border: 1px solid rgb(241, 234, 234); 
        font-size: 0.9vw;
        color: #777777;
        margin-bottom:4vw;  
    }
}

.Peter{
    width:100%;
    display: flex;
    img{
        padding-left:2.1vw;
        padding-right:1.4vw;
    }
    a:after{
        content: '15 Min Ago';
        font-size: 0.6vw;
        color:#979796;
        padding-left:2.1vw;
    }
    P{
        padding: 1.3vw;  
        background-color: #FCFCFC;  
        border: 1px solid rgb(241, 234, 234); 
        font-size: 0.9vw;
        color: #777777;    
    }
}

.main-bottom-right{
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    @media screen and (max-width:767px){
        flex-wrap: wrap;
        display: flex;
        border:none;
        order:8;
        flex-direction: column;
        
    }  
}

.main-bottom-right-top{
        width: 100%;
        border-bottom: 19px  solid gainsboro;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media screen and (max-width:767px){
            flex-wrap: wrap;
            display: flex;
            border:none;
            order:9;
            width:170%;
           
        }
    .Task{
            h4{
                margin-left:1vw;
            }
            button{
                width:1.1vw;
                height: 1.1vw;
                border-radius: 50%;
                border:1px solid grey;
                &:hover{
                    background-color: rgb(253, 94, 106);
                }
            }
            li {
                border-bottom: 1px solid #EDEDED ;
                display: flex;
                align-items: center;
                justify-content: space-around;
                position: relative;
                }     
            p {
                    margin: 0;
                    font-weight: 400;
                    font-size: calc(8px + 0.3vw);
                    color: #BFBFBF;
                    font-family: 'lato';
                }
            h5{
                    
                    font-size: calc(8px + 0.3vw);
                    font-weight: 400;
                    color:#FD566F;
                     font-family: 'lato';
                }
            span{
                    color:#9C9C9C;
                    font-size: calc(8px + 0.3vw);
                    font-family: 'lato';
                    font-weight: 600;
                    text-align: left;
                    margin-right:1.2vw;
                }
        }
}

.main-bottom-right-bottom{
    width: 100%;
    display:flex;
    @media screen and (max-width:767px){
        display: flex;
        border:none;
        order:10;
        width:100%;
        margin:auto;
    }

    .left{
     width: 50%;
     border-right: 19px  solid gainsboro;
     @include box;
     @media screen and (max-width:767px){
     display: flex;
     border:none;
     width:80%;

    
    }
  
        p{
        color:#FD7858;
        font-family:'Lato';
        font-weight: 600;
        font-size:calc(12px + 0.5vw);
     }
    }
}
    .right{
        width: 50%;
        @include box;
        p{
            color:#FD7858;
            font-family:'Lato';
            font-weight: 600;
            font-size:calc(12px + 0.5vw);
            margin-left:-4vw;
    }
}

.aside{
    width: 22%;
    display: flex;
    flex-direction: column;
    @media screen and (max-width:767px){
        flex-wrap: wrap;
        display: flex;
        border:none;
        flex-direction: column;
        order:11;
        width:80%;
        margin: auto;
    }
}

.aside-header{
width: 100%;
display: flex;
.users{
    background: url(../../img/aside/users@1X.png) no-repeat center center;
    @include asideButton;
}
.chat{
    background: url(../../img/aside/chat@1X.png) no-repeat center center;
    @include asideButton;
}  
.like{
    background: url(../../img/aside/like@1X.png) no-repeat center center;
    @include asideButton;
}
}

.aside-main{
    width: 100%;
    overflow-y: scroll;
        ul{ 
            width: 90%;
            list-style-type: none;
            @media screen and (max-width: 767px){
            width: 100%;
            }
        }
        li{
            
            display: flex;
            align-items: center;
            border-bottom: 1px solid rgb(199, 199, 199);
          
    }
        p{
            font-size: calc(9px + 0.3vw);
            margin-left: 1vw;
        }
        span{
            font-size: calc(6px + 0.3vw);
            margin-left: 1vw;
            }
        button{
            width: 1.4vw;
            height: 1.1vw;
            margin-left:4.5vw;
            background: url(../../img/aside/chat@1X.png);
            margin-top: 2.5vw;
            background-color:rgba(0,0,0,.3);
            border: none;
            }
        } 
 
.aside-input{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    input{
     margin-top:2.5vw;
     padding-left: 1vw;
     border-top:none;
     border-bottom: 1px solid grey;
     width: 16vw;
     font-size: calc(6px + 0.3vw);
     color: #C0C0C0;
     font-family: 'lato';	
     font-weight: 400;
     border-right: none;
     border-left: none;
  }
}  

.aside-footer{
    width: 100%;
    h4{
        margin-top:2vw;
        padding-bottom:2vw;
        font-size: calc( 8px + 0.4vw);
        text-align: center;
        color: #777777;
        font-family: 'Lato';
        font-weight: 600;
       } 
    ul{
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
    }
    li{
    
        padding-bottom: 1.2vw;
        padding-right: 1vw;
        @media screen and (max-width: 767px) {
            flex-wrap: wrap;
     }
    }
    }
    .company-first{
        background: url(../../img/aside/link-1.png) center center no repeat;
    }